 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');




body{
  font-family: 'Urbanist', sans-serif;
  line-height: 1.7;
} 
a {
  text-decoration: none; 
}

.contaiiner{
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #2b1b1b;
}

.phone {
  
  position: relative;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 26rem;
  height:82rem;
  border-radius: 2.75rem;
  margin: 120px 0px 10px 0px;
  background: linear-gradient(60deg, #f7f3f0 0%, #ffffff 50%, #f7f3f0 90%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.374);
  overflow: hidden;
}

@media (max-width: 461px) {
  .phone {
    width: 100%;
    height: unset;
    min-height: 100%;
    border-radius: 0;
    
    overflow: auto !important;
    margin:85px 0px 0px 0px;
    

  }
}
.phone::before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3rem;
  right: 3rem;
  opacity: 0.25;
  background: repeating-linear-gradient(90deg, lime 0%, lime 21%, transparent 21%, transparent 26.3333333333%), blue;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 15%;
  border-radius: 0 0 3rem;
  overflow: visible;
}
header::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: -16rem;
  width: 8rem;
  height: 16rem;
  background: transparent;
  border-radius: 5rem 0 0 0;
  box-shadow: 0 -8rem 0 0 rgba(255, 0, 0, 0.1), 0 -8rem 0 0 rgb(255, 145, 156);
}
header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: rgb(255, 145, 156);
  width: 100%;
  top: 0;
  bottom: 0;
  border-radius: 0 0 5rem;
  box-shadow: inset 0 0 2.5rem 2.5rem rgba(255, 0, 0, 0.1);
}

header div.blooddrop {
  display: block;
  position: relative;
  top: 0.5rem;
  z-index: 30;
  min-width: 11rem;
  min-height: 11rem;
  max-width: 11rem;
  max-height: 11rem;
  transform: scale(0.40);
}
header div.blooddrop::before {
  content: "";
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  background: #fb6767;
}
header div.blooddrop::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 40%), linear-gradient(-45deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 40%), linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset 0rem -1rem 0 0 rgba(255, 255, 255, 0.5), inset 0rem 1rem 0 0 rgba(255, 255, 255, 0.5), inset 0 0 0 1rem rgba(255, 255, 255, 0.1);
}

.h1 {
  font-family: "Raleway", sans-serif;
  color: #2b1b1b;
  font-size: 4.5rem;
  font-weight: 800;
  padding: 0 2rem;
  margin: 2.5rem 0 1.85rem 0;
}

.h4 {
  font-family: "Raleway", sans-serif;
  color: #2b1b1b;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 2rem;
  margin: 2.5rem 0 1rem 0;
  
}

.phone .p {
  font-family: 'Urbanist', sans-serif;
  color: #2b1b1b;
  font-size: 0.90rem;
  line-height: 1.50rem;
  padding: 0 2.15rem;
  margin-bottom: 1rem;
}
button[type="submit"] {
  display: block;
  background: #fb6767;
  width: calc(100% - 5rem);
  border-radius: 3rem;
  padding: 0.75rem 1.75rem;
  box-sizing: border-box;
  margin: 1.85rem 2.5rem;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body: #ffffff;
  --text: #363636;
  --text-light: #898989;
  --primary: #0d6efd;
  --border: #bbbbbb;
  --padding: 16px 24px;
  --line-height: 24px;
}
.input-group {
  width: 85%;
  border: 3px solid var(--border);
  border-radius: 8px;
  margin: 32px;
  padding: 0PX 0PX;
  box-shadow: none;
 
  
}
.input-group input {
  
  margin: 0PX 0PX;
  height: 4VH;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  font-size: 14px;
  line-height: var(--line-height);
  padding: 0PX 7PX;
  box-shadow: none;

}
.input-group #ville {

  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  font-size: 14px;
  line-height: var(--line-height);
  height: 4VH;
  box-shadow: none;
  
}
.input-group #Type_de_sang {

  border: none;
  padding: 10PX 7PX;
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  font-size: 14px;
  line-height: var(--line-height);
  height: 4VH;
  box-shadow: none;
}
.input-group #temps_dappel {

  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: var(--text);
  font-size: 14px;
  height: 4VH;
  line-height: var(--line-height);
  box-shadow: none;
}

.input-group:hover,
.input-group:focus-within {
  border-color: rgb(242, 112, 156);
  box-shadow: none;
 
  
  
}

.input-group input:focus,
.input-group:hover input {
  color: #0d6efd;
  box-shadow: none;
}

.input-group label {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  padding: var(--padding);
  line-height: var(--line-height);
  top: -10px;
  left: 0;
  bottom: 0;
  color: var(--text-light);
  cursor: text;
  z-index: 999;
  
}

.input-group:hover label {
  color: #0d6efd;
 
  
}
:is( input:focus label, input:valid) ~ input {
 background-color: rgba(255, 255, 255, 0);
 border-color: rgba(255, 255, 255, 0);

}
:is( select:focus label, select:valid) ~ input {
 background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

:is( input:focus label, input:focus) ~ label {
  padding: 0px 8px;
top: -18px;
left: 16px;
bottom: auto;
color: var(--text);
background-color: rgb(242, 112, 156);
border-radius: 10px;

}
:is( select:focus label, select:focus) ~ label {
  padding: 0px 8px;
top: -18px;
left: 16px;
bottom: auto;
color: var(--text);
background-color: rgb(242, 112, 156);
border-radius: 10px;
}

:is( input:focus label, input:valid) ~ label {
  padding: 0px 8px;
top: -18px;
left: 16px;
bottom: auto;
color: var(--text);
background-color: rgb(242, 112, 156);
border-radius: 10px;

}
:is( select:focus label, select:valid) ~ label {
  padding: 0px 8px;
top: -18px;
left: 16px;
bottom: auto;
color: var(--text);
background-color: rgb(242, 112, 156);
border-radius: 10px;
}

@media (max-width: 1399px){
  .alert{
    padding-bottom: 70px;
    padding-top: 70px;
    margin-top: -17px;
    
  }
}
@media (max-width: 992px){
  .alert{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -5px;
    
  }
}
@media (max-width: 460px){
  .alert{
    padding: 0;
    margin-top: -5px;
  }
  .alert .icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .alert .message h4{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
}

.alert {
  width: 100%;
  height: 6.5rem;
  background: #00f593;
  z-index: 9999;
  position: fixed;
  left: 50%;
  border-radius: 0px;
  top: -8%;
  transform: translate(-50%,50%);
  font-size: 13px;
  color: white;
  box-shadow: 0 0 2.5rem 2.5rem rgba(0, 0, 0, 0.119);
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .message{

  flex: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert .message h4{
  color: rgb(240, 236, 236);
  font-family: 'Playball', cursive;
  letter-spacing: 3px;

}
.alert .icon{
  flex: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


@media (min-height:900px) {
  .phone {
    width: 100%;
    height: unset;
    min-height: 150vh;
    border-radius: 0;
    
    margin:85px 0px 0px 0px;
    

  }
}

@media (max-width: 2972px) {
  .input-group input {
  
    margin: 0PX 0PX;
    height: 6VH;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text);
    font-size: 14px;
    line-height: var(--line-height);
    padding: 0PX 7PX;
  
  }
  .input-group #ville {
  
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text);
    font-size: 14px;
    line-height: var(--line-height);
    height: 6VH;
    
  }
  .input-group #Type_de_sang {
  
    border: none;
    padding: 10PX 7PX;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text);
    font-size: 14px;
    line-height: var(--line-height);
    height: 6VH;
  
  }
  .input-group #temps_dappel {
  
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--text);
    font-size: 14px;
    height: 6VH;
    line-height: var(--line-height);
  }
}





 
