.Login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LoginDS{
  width: 50%;
  height: 100%;
  background: #ff6363;
  border-radius: 0% 25% 0% 25% / 0% 25% 0% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginDS .LoginImg{
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  top: 50%;
}


.LoginDS .LoginImg .imgdivsheild{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.LoginDS .LoginImg img{
  width: 35%;
  /* filter: drop-shadow(0px 20px 10px rgba(44, 44, 44, 0.174)); */
  padding: 20px;
  
}

/* @keyframes floating {
  from { transform: translate(0,  0px);
   }
  65%  { transform: translate(0, 15px);}
  to   { transform: translate(0, -0px); }
} */

.LoginDS .LoginImg h1{
  color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins,sans-serif;
  font-size:2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.LoginDS .LoginImg p{
  color: rgba(255, 255, 255, 0.747);
  display: grid;
  justify-content: center;
  flex-direction: column;
  font-family: Poppins,sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
}
.LoginDiv{
  width: 50%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.LoginDiv .LoginInfo{
  display: grid;
  justify-content: center;
  align-items: center;
}
.LoginDiv .LoginInfo .imglg{
  display: flex;
  justify-content: center;
  padding: 20px;
  
}
.LoginDiv .LoginInfo .imglg img{
  width: 20%;
  height: 20%;
}

.LoginDiv .LoginInfo h1{
  color: #ff6363;
  font-family: Poppins,sans-serif;
  text-align: center;
  font-size: 2rem;
}

.LoginDiv .LoginInfo p{
  color: #ff6363;
  font-family: Poppins,sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

button,
.inputLg {
  border: 0;
  width: 100%;
  height: 50px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.formulaire{
  display: grid;
  justify-content: center;
  align-items: center;
  gap:5px;
  width: 100%;
}

.textboxx {
  position: relative;
  /* margin-bottom: 10px; */
}
.textboxx .usr{
  color: #ff6363;
  top: 50%;
  translate: 0 -230%;
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  transition: 0.5s;
}
.textboxx span {
  color: #ff6363;
  top: 50%;
  translate: 0 -155%;
  left: 0;
  opacity: 0.7;
  pointer-events: none;
  transition: 0.5s;
}

.formulaire .textboxx .inputLg {
  padding: 0 15px 0 25px;
  border-bottom: 2px solid #ff6363;
  color: #ff6363;
  height: 40px;
  font-family: 'Mulish',sans-serif;
  font-size: 0.80rem;
  font-weight: 500;
  line-height: 1.6;
}

:is(.textboxx .inputLg:focus, .textboxx .inputLg:valid) ~ label {
  translate: -40px -55px;
  scale: 0.875;
  color: #ff6363;

}
:is(.textboxx .inputLg:focus, .textboxx .inputLg:valid) ~ .usr {
  color: #ff6363;
  opacity: 1;
}
:is(.textboxx .inputLg:focus, .textboxx .inputLg:valid) ~ span {
  color: #ff6363;
  opacity: 1;
}

.formulaire .textboxx label {
  position: absolute;
  top: 50%;
  left: 36px;
  translate: 0 -115%;
  color: #ff6363;
  background-color: transparent;
  pointer-events: none;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Mulish',sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.formulaire button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 6px;
  background: #ff6363;
  color: #f9f9f9;
  border: 0;
  font-size: medium;
  font-weight: 600;
  margin: 1px;
  font-family: 'Mulish',sans-serif;
  font-weight: 500;
  line-height: 1.6;
}
.formulaire button:focus{
  background: #ff6363;
  color: #f9f9f9;
}
.formulaire .noAcount{
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  color: black;
}

.btnbnr{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btnshowpwd{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 6px;
  background: #ff6363;
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-weight: 600;
  margin: 3px;
}
#showpwdicon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.textboxx {

}


.textboxx #showpwdicon:hover {
  color: #5d5d5d;
}

.textboxx .inputLg[type="password"]::-ms-reveal,
.textboxx .inputLg[type="password"]::-ms-clear {
  display: none;
}

.textboxx .inputLg[type="password"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 800px){
  .Login{
    display: block;
  }
  .LoginDS{
    width: 100%;
   
  }
  .LoginDiv{
    width: 100%;

  }
}